# Dependencies
node_modules/

# IDE Settings
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
._*
Thumbs.db

# Test Reports & Artifacts
test-results/
cucumber-report.html
results/
playwright-report/
blob-report/
videos/
screenshots/